<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ООО__Украшение_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ООО__Украшение_.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Decorations;Data Source=DESKTOP-8CTS3FF</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </ООО__Украшение_.Properties.Settings>
    </userSettings>
</configuration>